<div class="container">
    
        <div class="row">
           <label class="col-sm-2">DOB:</label>
           <input type="date" style="margin-left: 8px;" [(ngModel)]="birthdate">
           <div style="margin-left: 8px;">
               <strong>{{birthdate | ageCaluclator: birthdate }} </strong>
           </div>
        </div>
        
        <br>

        <div class="row">
            <label class="col-sm-2"> CC_number:</label>
            <input type="text" [(ngModel)]="num" placeholder="CreditCard number">
            <div style="margin: 8px;">
               <strong> {{num | formattingCreditCardNumber:num}}</strong> 
            </div>
        </div>

        <br>

        <div class="row">
          <label class="col-sm-2">Account number:</label>
          <input type="text" [(ngModel)]="Account_balance" placeholder="Account number">
          <div>
             <strong> {{Account_balance | showbalance:Account_balance}}</strong> 
          </div>
        </div>
        
       
        <br>

        <div class="row">
          <label class="col-sm-2">creditcard number:</label>
          <input type="text"  id="idnum" onkeyup="addHyphen(this)" [(ngModel)]="Limit" placeholder="CreditCard number">
          <div>
             <strong> {{Limit | showbalanceofcreditcardnumber:Limit}}</strong> 
          </div>
        </div>
  
        <br>

        <div>
            <h5>Currency conversion</h5>
            <div>
                <p>
                  <strong>From : </strong>
                  <select  [(ngModel)]="From">
                    <option *ngFor="let cnt of currency" value={{cnt.id}}>{{cnt.code}}</option>
                  </select>
               
                  <strong> To : </strong>
                  <select  [(ngModel)]="To">
                    <option *ngFor="let cnt of currency">{{cnt.code}}</option>
                  </select>  
                </p>
            </div>
            
            <div>
                <p>
                   Enter the amount: <input type="number" placeholder="Enter amount" [(ngModel)]="value"/>  
                </p>
            </div>

            <p><strong>The value in {{To}} is {{value | currencyconverter:From:To:value | currency:To}}</strong>  </p>
        </div>
        
</div>
