<div class="button">
  <button class="btn btn-primary" style="margin: 5px;" (click)="D1()" data-toggle="button"> Length</button>
  <button class="btn btn-primary" style="margin: 5px;" (click)="D2()" data-toggle="button">Temperature</button>
</div>
<div *ngIf="!Display1">

  <div class="container">
    <h1>OneConversion in Length</h1>
    <div>
      <p>
        <strong>From : </strong>
        <select   [(ngModel)]="From1">
          <option    *ngFor="let v of values1" value={{v.id}}>{{v.name}}</option>
        </select>
         
        <strong> To : </strong>
        <select   [(ngModel)]="To1">
          <option  *ngFor="let v of values1" value={{v.code}}>{{v.name}}</option>
        </select>  
      </p>
    </div>
  
    <div>
      <p>
         Enter the value: <input type="number" placeholder="Enter value" [(ngModel)]="val1"/>  
      </p>
      <p>
        <button (click)="ans1()" class="btn btn-primary" >Caluclate</button>
      </p>
    </div>
     
     <p>The value in {{To1}} is : <strong>{{Result}}</strong>  </p>
  </div>

</div>
